# Режим регистрации: "supabase" или "google_form"
NEXT_PUBLIC_REGISTRATION_MODE="supabase"

# Supabase (если NEXT_PUBLIC_REGISTRATION_MODE="supabase")
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key-here"

# Google Forms (если NEXT_PUBLIC_REGISTRATION_MODE="google_form")
NEXT_PUBLIC_GOOGLE_FORM_URL="https://docs.google.com/forms/d/e/.../viewform"
